@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-8">MOM Capture</h1>
</div>
<div>
    <table>
        <tr>
            <td>The person who observed the discussion</td>
            <td></td>
        </tr>
        <tr>
            <td>Date of discussion</td>
            <td></td>
        </tr>
        <tr>
            <td>Location of discussion</td>
            <td></td>
        </tr>
        <tr>
            <td>Colleague(s) the discussion was with</td>
            <td></td>
        </tr>
        <tr>
            <td>Subject of discussion</td>
            <td></td>
        </tr>
        <tr>
            <td>Outcomes</td>
            <td></td>
        </tr>
    </table>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
